<div class="parent" style="border: 5px solid magenta">
  <h2>Spy Directive</h2>

  <label for="hero-name">Hero name: </label>
  <input
    type="text"
    id="hero-name"
    [(ngModel)]="newName"
    (keyup.enter)="addHero()"
  />
  <button type="button" (click)="addHero()">Add Hero</button>
  <button type="button" (click)="reset()">Reset Heroes</button>

  <div class="info">
    <p *ngFor="let hero of heroes" appSpy [generalParam]="hero">
      {{ hero }}
    </p>

    <h3>Open console!</h3>
  </div>
</div>
