.parent {
  padding: 2rem 0;
}

h2 {
  text-align: center;
}

.comment {
  color: #890000;
  font-style: italic;
}

.log {
  background-color: #555555;
  padding: 0.25rem;
}

.info {
  background: #a1a0a0;
  padding: 0.75rem;
  margin-top: 1rem;
}

p {
  padding: 0.25rem;
}

a {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #264d73;
}

a:hover {
  text-decoration: none;
}

a[href="#top"] {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #264d73;
  color: #fff;
}

a[href="#top"]:hover {
  background-color: #eaeaea;
  color: black;
}

a[href="#top"]:active {
  background-color: black;
  color: #eaeaea;
}

input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
